body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
header {
  position: absolute;
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  transition: margin-top 0.5s ease-out;
  z-index: 997;
  box-shadow: 0px 45px 35px rgb(0, 0, 0) inset;
}

.user {
  color: #ccc;
  font-size: 70%;
}

.navbar-logout-box {
  position: absolute;
  top: 100%; 
  right: 0;
  background-color: #1A1A1B;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: white;
}

.navbar-logout-box button {
  background-color: #ff0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 8px;
  color: white;
}

.logo  {
  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 5px;
  display: block;
}

@media screen and (max-width: 600px) {
  .logo {
    max-width: 60px;
    height: 60px; 
    margin: 5px 5px 5px 5px; 
  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    margin-right: 10px; 
    font-weight: bold;
    font-size: 12px;
  }
}

nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px; 
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  margin-right: 10px; 
  font-weight: bold;
}

nav a:hover {
  background-color: rgba(252, 244, 84, 0.228);
  border-radius: 5px;
}

nav a::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: rgba(255, 242, 0, 0.8);
  transition: width 0.5s ease;
}

nav a:hover::after {
  width: 100%;
}

.peliculas-dos {
  width: 100%;
  position: relative;
  z-index: 900;
  border-radius: 6px;
  box-shadow: 0px 10px 30px var(--gris-fuerte), 0px -10px 30px var(--gris-fuerte);
  cursor: pointer;
}

.video {
  position: relative;
  top: 3%;
  left: 0;
}

/* PELICULAS */
section {
  margin: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #000000;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

.movie-description {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ffffff;
}

.movie-image {
  text-align: center;
  margin-bottom: 10px;
}

.movie-image img {
  border-radius: 4px;
  max-width: 100%;
  height: 200px;
}

@media (max-width: 768px) {
  .movie-image img {
    max-height: 100%; 
    max-width: 100%;
  }
}

.search-bar {
  text-align: center;
  margin: 30px 0;
}

.search-bar input {
  width: 40%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-bar button {
  padding: 8px 16px;
  margin-left: 8px; 
  background-color: #f2bb15;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.favorito {
  margin-left: auto;
}

.favorito button {
  background-color: #ff0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 8px 4px 8px;
}

.descripcion-container {
  display: flex;
  justify-items: center;
  align-items: center;
}

.descripcion-container img {
  width: 20px;
  height: 20px;
}

.corazon{
  color: white;
  font-size: 5px;
  margin: auto;
}

/* LOGIN AND REGISTER */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  color: transparent;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke: 1px #f2bb15;
  text-align: center;
  font-size: 2rem;
  padding: 10px; 
  letter-spacing: 4px;
}

.styled-input {
  border: 1px solid #858585;
  padding: 12px;
  border-radius: 5px;
  background-color: #8c8888;
  color: #ffffff;
  font-size: 1rem;
  width: 50vw;
  box-sizing: border-box;
  cursor: not-allowed;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
}

.input-container input {
  height: 40px; 
  width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff; 
}

.label-container {
  text-align: left;
  margin-bottom: 8px; 
}

.button-container {
  text-align: center;
  margin-top: 20px; 
}

span {
  display: block;
  text-align: center;
  margin-top: 20px; 
  color: #555; 
}

span a {
  color: #f2bb15; 
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px; 
}


/* Favoritos */

.container-fav {
  height: 100vh;
  padding-top: 70px;
}

.movie-list-fav {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.movie-card-fav {
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  text-align: center;
}

.movie-title-fav {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
}

.movie-image-fav img {
  border-radius: 4px;
  max-width: 100%;
  max-height: 200px; 
}

.descripcion-container-fav {
  justify-content: space-between;
  flex-grow: 1; 
}

.input-review {
  margin-top: 10px;
  padding: 10px;
  width: calc(100% - 10px);
  min-height: 20px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.trash {
  top: 1px;
  display: flex;
  justify-content: flex-end;
}

.trash button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 6px 4px 6px;
  margin-top: 10px;
}

.comment-text {
  max-height: 100px;
  overflow-y: auto;
}

p {
  font-size: 0.8rem; 
  font-weight: bold;
  color: #ffffff;
  text-align: justify;
}

.fav button {
  padding: 4px 20px;
  background-color: #f2bb15;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.not-movie-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.not-favorites-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.notfavorites {
  color: transparent;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke: 1px #f2bb15;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  letter-spacing: 4px;
}

